<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="11" android:versionName="11.0" package="creations.raghul.smartattendance">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application android:theme="@style/Theme.AppCompat.Light" android:label="Intelligent Attendance System" android:icon="@drawable/logoo" android:allowBackup="true" android:supportsRtl="true">
        <activity android:name="creations.raghul.smartattendance.AppBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="creations.raghul.smartattendance.profile_activity" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:name="creations.raghul.smartattendance.Student_Registartion" android:parentActivityName="creations.raghul.smartattendance.profile_activity" />
        <activity android:name="creations.raghul.smartattendance.profile_activity2" />
        <activity android:name="creations.raghul.smartattendance.noteCreate" android:parentActivityName="creations.raghul.smartattendance.noteActivity" />
        <activity android:name="creations.raghul.smartattendance.attendanceActivity" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:name="creations.raghul.smartattendance.noteActivity" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:name="creations.raghul.smartattendance.scheduler" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:name="creations.raghul.smartattendance.make_schedule" android:parentActivityName="creations.raghul.smartattendance.scheduler" />
        <activity android:label="Preferences" android:name="creations.raghul.smartattendance.SettingsActivity" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:name="creations.raghul.smartattendance.About" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:name="creations.raghul.smartattendance.Edit_Student" android:parentActivityName="creations.raghul.smartattendance.AppBase" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="creations.raghul.smartattendance.alita" />
        <activity android:name="creations.raghul.smartattendance.excelexample" />
        <meta-data android:name="android.support.VERSION" android:value="26.1.0" />
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT" />
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1" />
    </application>
</manifest>
